<?php

/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
 * Test case for the class "<%[$package_name]%>_Request_Default"
 *
 * PHP versions 5
<%[ if ($php_license_abstract) {
    $OUT .= " *\n";
    $php_license_abstract =~ s/^\s+//;
    $php_license_abstract =~ s/\s+$//;
    $php_license_abstract =~ s/\n/\n * /g;
    $OUT .= " * LICENSE: $php_license_abstract\n";
} ]%> *
 * @category   Services
 * @package    <%[$package_name]%>
<%[ foreach (@author) {
    $OUT .= " * \@author     $_\n";
} ]%><%[ if ($php_copyright||$copyright) {
    local $copyright = ($php_copyright||$copyright);
    $OUT .= " * \@copyright  $copyright\n";
} ]%> * @license    <%[$php_license_uri]%> <%[$license]%>
 * @version    Release: @package_version@
 * @link       <%[$php_link]%>
 */

require_once 'PEAR.php';
require_once 'PHPUnit/Framework.php';
require_once '<%[$package_dir]%>/Factory.php';
require_once '<%[$package_dir]%>/Request.php';
require_once '<%[$package_dir]%>/Request/Default.php';

/**
 * Test class for <%[$package_name]%>_Request_Default
 *
 * @category   Services
 * @package    <%[$package_name]%>
<%[ foreach (@author) {
    $OUT .= " * \@author     $_\n";
} ]%><%[ if ($php_copyright||$copyright) {
    local $copyright = ($php_copyright||$copyright);
    $OUT .= " * \@copyright  $copyright\n";
} ]%> * @license    <%[$php_license_uri]%> <%[$license]%>
 * @version    Release: @package_version@
 * @link       <%[$php_link]%>
 */
class <%[$package_name]%>_Request_DefaultTest extends PHPUnit_Framework_TestCase
{
    protected $factory;
    
    public function setUp()
    {
        $this->factory = new <%[$package_name]%>_Factory();
    }

    public function testNew()
    {
        $obj = new <%[$package_name]%>_Request_Default($this->factory);
        $this->assertNotNull($obj);
    }

    public function testSend()
    {
        $obj = new <%[$package_name]%>_Request_Default($this->factory);

        $res =& $obj->send();
        $this->assertTrue(PEAR::isError($res));

        $obj->setUrl('http://localhost/test');

        $res =& $obj->send();
        $this->assertFalse(PEAR::isError($res));
        $this->assertTrue(($res instanceof <%[$package_name]%>_Response));
    }
    
    public static function provideCreateReqStr()
    {
        return array(
            array(
                'http://localhost/test',
                null,
                null,
                "GET /test HTTP/1.1\r\n" .
                "Host: localhost\r\n" .
                "Connection: close\r\n" .
                "\r\n"
            ),
            array(
                'http://localhost/test2',
                'GET',
                array(
                    'val1' => 'test1',
                    'val2' => 10,
                    'val3' => array(1, 2, 3),
                ),
                "GET /test2?val1=test1&val2=10&val3=1&val3=2&val3=3 HTTP/1.1\r\n" .
                "Host: localhost\r\n" .
                "Connection: close\r\n" .
                "\r\n"
            ),
            array(
                'http://localhost/test3',
                'POST',
                array(
                    'val1' => 'test1',
                    'val2' => 10,
                    'val3' => array(1, 2, 3),
                ),
                "POST /test3 HTTP/1.1\r\n" .
                "Host: localhost\r\n" .
                "Connection: close\r\n" .
                "Content-Type: application/x-www-form-urlencoded\r\n" .
                "\r\n" .
                "val1=test1&val2=10&val3=1&val3=2&val3=3\r\n" .
                "\r\n"
            ),
        );
    }
    
    /**
     * @dataProvider provideCreateReqStr
     */
    public function testCreateReqStr($url, $rm, $params, $reqStr)
    {
        $obj = new <%[$package_name]%>_Request_Default($this->factory);

        $purl = parse_url($url);
        if ($rm) {
            $obj->setRequestMethod($rm);
        }
        if ($params) {
            $obj->setParams($params);
        }
        $this->assertEquals($reqStr, $obj->_createReqStr($purl));
    }
    
    public static function provideDecodeChunked()
    {
        return array(
            array(
                "1a; parameter\r\n" .
                "abcdefghijklmnopqrstuvwxyz\r\n" .
                "a\r\n" .
                "1234567890\r\n" .
                "0\r\n" .
                "footer1: some-value\r\n" .
                "footer2: another-value\r\n" .
                "\r\n",
                "abcdefghijklmnopqrstuvwxyz1234567890",
            ),
        );
    }

    /**
     * @dataProvider provideDecodeChunked
     */
    public function testDecodeChunked($chunked, $expected)
    {
        $obj = new <%[$package_name]%>_Request_Default($this->factory);
        $this->assertEquals($expected, $obj->_decodeChunked($chunked));
    }
}

?>
