#
# Test case for <%[$package_name]%>
#

use strict;
use Test::More;

<%[make_env_params_check(@methods)]%>
plan tests => <%[make_test_count(2, @methods)]%>;

use_ok('<%[$package_name]%>');

my $obj = <%[$package_name]%>->new();

ok(ref $obj, 'new <%[$package_name]%>()');

<%[ foreach my $method (@methods) {
    $OUT .= include('inc_test_webservice_method.tmpl', method=>$method);
    $OUT .= "\n";
} ]%>
1;
