    /**
     * Makes a request for <%[$method{name}]%> API.
     * See <%[$package_name]%>_<%[$method{class_name}]%> for details.
     *
     * @access public
     * @param array $params parameters
     * @return mixed <%[$package_name]%>_Method|PEAR_Error
     * @see <%[$package_name]%>_<%[$method{class_name}]%>
     */
    function &<%[$method{interface_name}]%>($params = array())
    {
        require_once '<%[$package_dir]%>/Method/<%[$method{class_name}]%>.php';
        $method =& new <%[$package_name]%>_Method_<%[$method{class_name}]%>($this->_fac);
        $res =& $method->execute(array_merge($this->_params, $params));
        if (PEAR::isError($res)) {
            return $res;
        }
        return $method;
    }
