<?php

/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
 * This file contains the class "<%[$package_name]%>_Method"
 *
 * PHP versions 4 and 5
<%[ if ($php_license_abstract) {
    $OUT .= " *\n";
    $php_license_abstract =~ s/^\s+//;
    $php_license_abstract =~ s/\s+$//;
    $php_license_abstract =~ s/\n/\n * /g;
    $OUT .= " * LICENSE: $php_license_abstract\n";
} ]%> *
 * @category   Services
 * @package    <%[$package_name]%>
<%[ foreach (@author) {
    $OUT .= " * \@author     $_\n";
} ]%><%[ if ($php_copyright||$copyright) {
    local $copyright = ($php_copyright||$copyright);
    $OUT .= " * \@copyright  $copyright\n";
} ]%> * @license    <%[$php_license_uri]%> <%[$license]%>
 * @version    Release: @package_version@
 * @link       <%[$php_link]%>
 */

require_once 'PEAR.php';

/**
 * Base class for method
 *
 * @category   Services
 * @package    <%[$package_name]%>
<%[ foreach (@author) {
    $OUT .= " * \@author     $_\n";
} ]%><%[ if ($php_copyright||$copyright) {
    local $copyright = ($php_copyright||$copyright);
    $OUT .= " * \@copyright  $copyright\n";
} ]%> * @license    <%[$php_license_uri]%> <%[$license]%>
 * @version    Release: @package_version@
 * @link       <%[$php_link]%>
 */
class <%[$package_name]%>_Method
{
    /**
     * Factory object
     * 
     * @access protected
     * @var object
     */
    var $fac;

    /**
     * Constructor
     * 
     * @param object $fac Factory object
     */
    function <%[$package_name]%>_Method(&$fac)
    {
        $this->fac =& $fac;
    }

    /**
     * Returns the URL (must override in subclass)
     * 
     * @access public
     * @return string URL
     */
    function getUrl()
    {
        return null;
    }

    /**
     * Returns request method
     * 
     * @access public
     * @return string request method
     */
    function getRequestMethod()
    {
        return 'GET';
    }

    /**
     * Returns the conf of parameters
     * 
     * @access public
     * @return array conf
     */
    function getParamsConf()
    {
        return array();
    }
    
    /**
     * Return the conf of respoonse
     * 
     * @access public
     * @return array conf
     */
    function getResponseConf()
    {
        return array();
    }
    
    /**
     * Filter parameters
     * 
     * @access public
     * @param array $params parameters
     * @return array result
     */
    function filterParams($params)
    {
        $conf = $this->getParamsConf();
        if (!$conf) {
            return $params;
        }
    
        $result = array();
        
        if (array_key_exists('keys', $conf) && $conf['keys']) {
            foreach ($conf['keys'] as $key) {
                if (array_key_exists($key, $params)) {
                    $result[$key] = $params[$key];
                }
            }
        } else {
            $result = $params;
        }
        
        if (array_key_exists('defaults', $conf) && $conf['defaults']) {
            foreach ($conf['defaults'] as $key => $val) {
                if (!array_key_exists($key, $params)) {
                    $result[$key] = $val;
                }
            }
        }
        
        if (array_key_exists('fixed', $conf) && $conf['fixed']) {
            foreach ($conf['fixed'] as $key => $val) {
                $result[$key] = $val;
            }
        }
        
        return $result;
    }
    
    /**
     * Filter response
     * 
     * @access public
     * @param object $res response
     * @return object result
     */
    function &filterResponse(&$res)
    {
        $res->processData($this->getResponseConf());
        return $res;
    }
    
    /**
     * Validate parameters
     * 
     * @access public
     * @param array $params parameters
     * @return array result or false
     */
    function validateParams($params)
    {
        $conf = $this->getParamsConf();
        if (!$conf && $conf['notnull']) {
            return false;
        }
    
        $result = array();

        $notnull = array();
        foreach ($conf['notnull'] as $key) {
            if (!$params[$key]) {
                $notnull[] = $key;
            }
        }
        if ($notnull) {
            $result[] = "empty parameters - " . implode(' ', $notnull);
        }
        
        return $result;
    }
    
    /**
     * Execute the method
     *
     * @access public
     * @param array $params parameters
     * @return object <%[$package_name]%>_Response
     */
    function &execute($params)
    {
        $params = $this->filterParams($params);
    
        if ($validate = $this->validateParams($params)) {
            return PEAR::raiseError('ValidateError: ' . print_r($validate, true));
        }
        
        $req =& $this->fac->createRequest();
        
        $req->setUrl($this->getUrl());
        $req->setRequestMethod($this->getRequestMethod());
        $req->addParams($params);
        
        $res =& $req->send();
        
        if (PEAR::isError($res)) {
            return $res;
        }
        
        $res =& $this->filterResponse($res);
        
        return $res;
    }
}

?>
